@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  /* font-family: 'Oswald', sans-serif; */
  font-family: 'Heebo', sans-serif;
  color: var(--textColor);
}

:root {
  --textColor: #FFF8F0;
}

body {
  background-color: #2e2e38;
}

.siteWrapper {
  width: 80%;
  margin: 0 auto;
}

h2,
h3,
h4 {
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
}

.headline-scroll {
  scroll-margin-top: 100px;
}

a {
  color: #64E3A1;
  text-decoration: none;
  font-size: 1.5rem;
  z-index: 1;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 30px;
}


.header_line {
  width: 500px;
  border: 1px solid #FFF8F0;
}

.nav-menu h2 {
  margin: 10px;
  font-size: 2rem;
}

.nav-menu a {
  color: #64E3A1;
}

header {
  width: 100%;
  background-color: #2E2E38;
  position: fixed;
  z-index: 3000;
}

.header-wrap {
  display: flex;
  gap: 20px;

}

.logo {
  max-width: 150px;
  height: clamp(50px, 70px, 150px);
}


.navbar ul li {
  list-style: none;
  display: block;
  position: relative;
  margin: 0 45px;
  display: flex;
  align-items: center;
}

/* .nav-menu li::after {
  content: "";
  height: 3px;
  width: 0%;
  background-color: #FFF8F0;
  position: absolute;
  left: 0;
  bottom: -5px;
  transition: 0.5s;
}

.nav-menu li:hover::after {
  width: 100%;
} */

#headerText {
  font-size: 1rem;
  text-align: center;
  display: flex;
  align-items: center;
  z-index: 1;
}


/* Nav menu header glitch styling - start */

.nav-link,
.nav-item::after {
  padding: 10px 50px;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: transparent;
  position: relative;
}

.nav-link::after {
  --move1: inset(50% 50% 50% 50%);
  --move2: inset(31% 0 40% 0);
  --move3: inset(39% 0 15% 0);
  --move4: inset(45% 0 40% 0);
  --move5: inset(45% 0 6% 0);
  --move6: inset(14% 0 61% 0);
  clip-path: var(--move1);
  content: 'GLITCH';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
}

.nav-link:hover::after {
  animation: glitch_4011 1s;
  text-shadow: 10px 10px 10px black;
  animation-timing-function: steps(2, end);
  text-shadow: -3px -3px 0px #1df2f0, 3px 3px 0px #E94BE8;
  background-color: transparent;
  border: 3px solid rgb(100, 227, 161);
}

.nav-link:hover {
  text-shadow: -1px -1px 0px #1df2f0, 1px 1px 0px #E94BE8;
}

.nav-link:hover {
  background-color: transparent;
  border: 1px solid rgb(100, 227, 161);
  box-shadow: 0px 10px 10px -10px rgb(100, 227, 161);
}

@keyframes glitch_4011 {
  0% {
    clip-path: var(--move1);
    transform: translate(0px, -10px);
  }

  10% {
    clip-path: var(--move2);
    transform: translate(-10px, 10px);
  }

  20% {
    clip-path: var(--move3);
    transform: translate(10px, 0px);
  }

  30% {
    clip-path: var(--move4);
    transform: translate(-10px, 10px);
  }

  40% {
    clip-path: var(--move5);
    transform: translate(10px, -10px);
  }

  50% {
    clip-path: var(--move6);
    transform: translate(-10px, 10px);
  }

  60% {
    clip-path: var(--move1);
    transform: translate(10px, -10px);
  }

  70% {
    clip-path: var(--move3);
    transform: translate(-10px, 10px);
  }

  80% {
    clip-path: var(--move2);
    transform: translate(10px, -10px);
  }

  90% {
    clip-path: var(--move4);
    transform: translate(-10px, 10px);
  }

  100% {
    clip-path: var(--move1);
    transform: translate(0);
  }
}

/* Nav menu header glitch styling - slut */

/* Big video styling */
#myVideo {
  position: relative;
  height: 40rem;
  width: 100%;
  object-fit: cover;
  z-index: -10;
}


p {
  color: white;
}


.breadtekst {
  margin: auto;
  font-size: 1.3rem;
  padding: 4rem 0px;
  line-height: 2.2rem;
}

.breadtekst ol {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.breadtekst-2 {
  width: 80%;
}

.hvordan {
  padding: 0px;
  margin: 0px;
}

.quoteWrapper img {
  height: 35vh;
  width: 80%;
  margin: auto;
  object-fit: cover;
}

.quoteWrapper {
  display: flex;
  justify-content: center;
  gap: 5%;
}

#final-line {
  padding-top: 0px;
  padding-bottom: 50px;
}


.stig_tekst {
  width: 80%;
  border: none;
  padding: 10px 0 0 0;
  font-weight: 200;
  font-style: italic;
  font-size: .7rem;
  color: rgb(159, 152, 152);
  margin: auto;
}

.quoteOne {
  width: 60%;
  font-size: 2.7rem;
  padding-top: 30px;
}

.picture-wrapper {
  display: grid;
  gap: 10px;

}

.interview h3 {
  padding-bottom: 5rem;
}

.flex-wrapper {
  display: grid;
  grid-template-columns: 1fr 0.3fr 1fr;
  gap: 20px;
}

.video-tekst {
  font-size: 1.5rem;
  font-weight: 200;
  text-align: center;
  margin: auto;
}

/* Graph styling for interactive graph */
.graph {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;


}

.graph p {
  margin-left: 10px;
}

.graph-article {
  display: block;
}

.y-akse {
  width: 100px;
  border-right: 1px solid rgb(255, 255, 255);
  padding: 20px 0px;
  padding-right: 40px;
  text-align: center;
  color: white;

}



.graph-bar {
  height: 30px;
  background-color: #64E3A1;
  margin-bottom: 10px;
  display: flex;
  margin: auto 0px;

}

.graph-inline {
  display: flex;
  align-items: center;

}

.bar1 {
  width: 10%;
}

.bar2 {
  width: 20%;

}

.bar3 {
  width: 30%;
}

.bar4 {
  width: 40%;
}

.bar5 {
  width: 50%;
}

.bar6 {
  width: 60%;
}

.bar7 {
  width: 65%;
}

.bar8 {
  width: 75%;
}

.bar9 {
  width: 75%;
}

.bar10 {
  width: 80%;
}

@keyframes wipe-enter {
  0% {
    width: 0%;
  }

  50% {}
}

/* @media (prefers-reduced-motion: no-preference) {
  .graph-bar {
    animation-name: wipe-enter;
    animation-duration: 2.5s;
  }
} */

/* END OF GRAPH STYLING */


/*Burger-menu styling and active - nonactive classes */

.hamburger {
  cursor: pointer;
}

.hamburger input {
  display: none;
}

.hamburger svg {
  /* The size of the SVG defines the overall size */
  height: 3em;
  /* Define the transition for transforming the SVG */
  transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
  fill: none;
  stroke: white;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 3;
  /* Define the transition for transforming the Stroke */
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
  stroke-dasharray: 12 63;
}

.hamburger input:checked+svg {
  transform: rotate(-45deg);
}

.hamburger input:checked+svg .line-top-bottom {
  stroke-dasharray: 20 300;
  stroke-dashoffset: -32.42;
}

.nav-menu {

  position: fixed;
  right: -100%;
  height: 40vh;
  flex-direction: column;
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  height: 100%;
  align-items: flex-start;
  top: 0%;
  transition: 0.3s;
  background: rgba(32, 32, 32, 0.5);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.nav-link {
  font-size: 2rem;
}


.nav-item {
  margin: 16px 0;
}

.nav-menu.active {
  right: 0;
}

/*END OF BURGER-MENU STYLING */

body {
  margin: 0;
  padding: 0;
  font-family: "Euclid Circular A";
  background: #2E2E38;
  color: rgba(255, 255, 255, 0.7);
}

/* PARALLAX */
.parallax-img {
  position: fixed;
  z-index: -20;
  transition: 0.3s;
}

.parallax-con img:nth-child(1) {
  width: 200px;
  top: 10px;
  left: 150px;
}

.parallax-con img:nth-child(2) {
  width: 400px;
  right: 50px;
  top: 300px;
}

.parallax-con img:nth-child(3) {
  width: 300px;
  left: -100px;
  top: 500px;
}

.home-content {
  display: flex;
  flex-direction: column;
  gap: 150px;
  position: relative;
  z-index: 10;
}

/*PARALLAX END*/

/* line-scroll */

.trekant {
  fill: none;
  stroke: #64E3A1;
  stroke-width: 20px;
}

.trekant-2 {
  stroke-width: 14px;
}

.mySVG {
  width: 200px;
  height: 500px;
  margin: auto 0;
}

.mySVG-2 {
  height: 700px;
  margin: auto 0;
}

/* line-scroll end */

/* Infografik */
.infografik {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
}

.info-icon-container {
  display: flex;
  align-items: center;
}

.info-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-icon img:nth-child(1) {
  width: 100px;
}

.info-icon p {
  width: 70%;
  padding: 0;
}

.hoved img {
  width: 400px;
}

.hoved-tomt {
  display: none;
}



/* VIDEO STYLING */

.student-part,
.teacher-part {
  display: grid;
  gap: 40px;
}

.student-part video {
  width: 100%;
  display: block;
  margin: auto;
  border-radius: 30px;
}

.teacher-part video {
  width: 100%;
  display: block;
  margin: auto;
  border-radius: 30px;
}


/* Fade Animations - Start */

.fade-in {
  opacity: 0;
  transition: opacity 250ms ease-in;
}

.fade-in.appear {
  opacity: 1;
}

.fade-in-2 {
  opacity: 0;
  transition: opacity 250ms ease-in;
}

.fade-in-2.inuse {
  opacity: 1;
}

.from-left {
  transform: translateX(-100px);
}

.from-right {
  transform: translateX(100px);
}

.from-bottom {
  transform: translateY(50px);
}

.from-top-mid {
  transform: translateY(-400px);
}

.from-top-right {
  transform: translateY(-400px) translateX(-350px);
}

.from-top-left {
  transform: translateY(-400px) translateX(350px);
}


.from-left,
.from-right,
.from-bottom {
  transition: opacity 400ms ease-in, transform 400ms ease-in;
  opacity: 0;
}

.from-top-mid,
.from-top-right,
.from-top-left {
  transition: opacity 1s ease-in, transform 1s ease-in;
  opacity: 0;
}

.from-left-graph {
  transform: scaleX(0);
  opacity: 0;
}

.from-left-graph.inuse {
  transform: scaleX(1);
  opacity: 1;
  animation-name: wipe-enter;
  animation-duration: 2.5s;
  opacity: 1;
}

.from-top-mid.appear {
  transform: translateY(80px);
}

.from-top-right.appear {
  transform: translateY(-30px) translateX(60px);
}

.from-top-left.appear {
  transform: translateY(-30px) translateX(-60px);
}

.from-left.appear,
.from-right.appear,
.from-bottom.appear {
  transform: translateX(0);
  opacity: 1;
}


/* Fade Animations - Slut */


/*Graph video Start */

.video-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

#graph-video {
  height: 400px;

}

/* quote section styling */

.quote-sections {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10rem;
  padding-top: 20%;
}

.quote-sections p {
  width: 60%;
  font-size: 2.7rem;

}

.quote-sections p:nth-child(2) {
  font-size: 1.5rem;
  font-style: italic;
}

.quote-section-two {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.quoted-by {
  padding-top: 50px;
}

/* Telefon -start */

.phone-article {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 80%;
  margin: 100px auto 0 auto;
}

.phone-wrapper {
  margin: 0 auto;
}

.phone-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}

.iphone-x {
  position: relative;
  z-index: 1;
  height: 694px;
  width: 342px;
}

.iphone-x *,
.iphone-x *::before,
.iphone-x *::after {
  box-sizing: border-box;
  display: block;
}

.iphone-x .side {
  background: #1c1c1c;
  border-radius: 54px;
  box-shadow: inset 0 0 2px 2px dimgrey, inset 0 0 0 6px #e2e3e9, 0px -1px 13px 9px rgba(255, 255, 255, 0.8) inset;
  height: 694px;
  padding: 15px 22px;
  width: 342px;
  z-index: 1;
}

.iphone-x .screen {
  background: #2E2E38;

  background-position: center center;
  background-size: cover;
  border-radius: 33px;
  position: relative;
  height: 652px;
  width: 300px;
  margin-left: -1px;
  margin-top: 6px;
  z-index: 198;
  overflow: hidden;
}

.iphone-x .line::after,
.iphone-x .line::before {
  content: "";
  position: absolute;
  border: solid rgba(68, 68, 68, 0.25);
  border-width: 0 6px;
  height: 5px;
  left: 0;
  width: 100%;
  z-index: 9;
}

.iphone-x .line::after {
  top: 68px;
}

.iphone-x .line::before {
  bottom: 68px;
}

.iphone-x .header {
  background: #1c1c1c;
  border-bottom-left-radius: 13px;
  border-bottom-right-radius: 13px;
  height: 24px;
  left: 50%;
  margin-left: -82px;
  position: absolute;
  top: 15px;
  width: 164px;
  z-index: 199;
}

.iphone-x .sensor-1::after,
.iphone-x .sensor-1::before {
  content: "";
  position: absolute;
}

.iphone-x .sensor-1::after {
  background: #222;
  border-radius: 50%;
  height: 11px;
  width: 11px;
  left: 1%;
  margin-left: 10px;
  top: 3px;
}

.iphone-x .sensor-1::before {
  background: #222;
  border-radius: 50%;
  height: 11px;
  width: 11px;
  left: 10%;
  margin-left: 20px;
  top: 3px;
}

.iphone-x .sensor-2::after,
.iphone-x .sensor-2::before {
  content: "";
  position: absolute;
}

.iphone-x .sensor-2::before {
  background: #333;
  border-radius: 2.5px;
  height: 5px;
  width: 40px;
  left: 50%;
  margin-left: -20px;
  top: 7px;
}

.iphone-x .sensor-3::after,
.iphone-x .sensor-3::before {
  content: "";
  position: absolute;
}

.iphone-x .sensor-3::before {
  background: #444;
  border-radius: 50%;
  height: 11px;
  width: 11px;
  left: 50%;
  margin-left: 35px;
  top: 3px;
  box-shadow: 0px 0px 5px 2px navy inset
}

.iphone-x .sensor-3::after {
  background: #222;
  border-radius: 50%;
  height: 15px;
  width: 15px;
  left: 65%;
  margin-left: 33px;
}

.iphone-x .volume-button {
  background: #c8cacb;
  height: 26px;
  left: -2px;
  position: absolute;
  top: 92px;
  width: 3px;
}

.iphone-x .volume-button::after,
.iphone-x .volume-button::before {
  content: "";
  position: absolute;
  background: #c8cacb;
  height: 50px;
  left: 0;
  width: 3px;
}

.iphone-x .volume-button::after {
  top: 48px;
}

.iphone-x .volume-button::before {
  top: 112px;
}

.iphone-x .power-button {
  background: #c8cacb;
  height: 80px;
  right: -2px;
  position: absolute;
  top: 160px;
  width: 3px;
}

.phone-wrapper {
  position: relative;
}

.robotlilguy {
  position: absolute;
  bottom: 30px;
  left: 250px;

}

.robotlilguy img {


  transform: rotate(45deg);
  height: 300px;
 

}

.prompt {
  background-color: #64E3A1;
  padding: 10px 17px;
  border-radius: 20px;
  color: #FFF8F0;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}

.prompt:hover {
  -webkit-box-shadow: 0px 2px 15px 5px rgba(100, 227, 161, 0.3);
  box-shadow: 0px 2px 15px 5px rgba(100, 227, 161, 0.3);
  transition: 0.3s;
}

.prompt-cont {
  display: flex;
  justify-content: space-between;
  margin: 0 10px;
  flex-direction: column;
  gap: 20px;
  text-align: center;
}

.chat-rep-cont {
  height: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  padding-bottom: 100px;
}

.chat-response {
  width: 270px;
  background-color: #64E3A1;
  height: 60px;
  border-radius: 25px;
  display: none;
  text-align: center;
  padding-top: 20px;
  color: #FFF8F0;
  animation-name: scaleUp;
  animation-duration: 0.3s;
}

@keyframes scaleUp {
  0% {
    transform: scale(0)
  }

  80% {
    transform: scale(1.1)
  }

  100% {
    transform: scale(1)
  }
}

.rep2 {
  height: 240px;
}

/* #retry-button{
  background-color: #64E3A1;
  padding: 10px 20px;
  border-radius: 20px;
  color: var(--textColor);
  text-decoration: none;
} */

.retry-cont {
  margin-bottom: 200px;
}

#retry-button {
  border: #64E3A1 1px solid;
  cursor: pointer;
}

button,
button::after {
  padding: 10px 50px;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: transparent;
  position: relative;
}

button::after {
  --move1: inset(50% 50% 50% 50%);
  --move2: inset(31% 0 40% 0);
  --move3: inset(39% 0 15% 0);
  --move4: inset(45% 0 40% 0);
  --move5: inset(45% 0 6% 0);
  --move6: inset(14% 0 61% 0);
  clip-path: var(--move1);
  content: 'GLITCH';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
}

button:hover::after {
  animation: glitch_4011 1s;
  text-shadow: 10px 10px 10px black;
  animation-timing-function: steps(2, end);
  text-shadow: -3px -3px 0px #1df2f0, 3px 3px 0px #E94BE8;
  background-color: transparent;
  border: 3px solid rgb(100, 227, 161);
}

button:hover {
  text-shadow: -1px -1px 0px #1df2f0, 1px 1px 0px #E94BE8;
}

button:hover {
  background-color: transparent;
  border: 1px solid rgb(100, 227, 161);
  box-shadow: 0px 10px 10px -10px rgb(100, 227, 161);
}

@keyframes glitch_4011 {
  0% {
    clip-path: var(--move1);
    transform: translate(0px, -10px);
  }

  10% {
    clip-path: var(--move2);
    transform: translate(-10px, 10px);
  }

  20% {
    clip-path: var(--move3);
    transform: translate(10px, 0px);
  }

  30% {
    clip-path: var(--move4);
    transform: translate(-10px, 10px);
  }

  40% {
    clip-path: var(--move5);
    transform: translate(10px, -10px);
  }

  50% {
    clip-path: var(--move6);
    transform: translate(-10px, 10px);
  }

  60% {
    clip-path: var(--move1);
    transform: translate(10px, -10px);
  }

  70% {
    clip-path: var(--move3);
    transform: translate(-10px, 10px);
  }

  80% {
    clip-path: var(--move2);
    transform: translate(10px, -10px);
  }

  90% {
    clip-path: var(--move4);
    transform: translate(-10px, 10px);
  }

  100% {
    clip-path: var(--move1);
    transform: translate(0);
  }
}

/* Telefon slut */


.glitch-konk,
.glitch-konk::after {
  padding: 10px 50px;
  font-size: 32px;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: transparent;
  position: relative;
}

.glitch-konk::after {
  --move1: inset(50% 50% 50% 50%);
  --move2: inset(31% 0 40% 0);
  --move3: inset(39% 0 15% 0);
  --move4: inset(45% 0 40% 0);
  --move5: inset(45% 0 6% 0);
  --move6: inset(14% 0 61% 0);
  clip-path: var(--move1);
  content: 'Den reflekterende praktiker';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
}

.glitch-konk:hover::after {
  animation: glitch_4011 1s;
  text-shadow: 10px 10px 10px black;
  animation-timing-function: steps(2, end);
  text-shadow: -3px -3px 0px #1df2f0, 3px 3px 0px #E94BE8;
  background-color: transparent;
}

.glitch-konk:hover {
  text-shadow: -1px -1px 0px #1df2f0, 1px 1px 0px #E94BE8;
}

.glitch-konk:hover {
  background-color: transparent;

}


/* Farewell */

.robot-farewell {
  display: flex;
  justify-content: center;
  padding-bottom: 150px;
}

.robot-farewell img {
  width: 200px;
}

.bubble {
  --r: 25px;
  /* the radius */
  --t: 30px;
  /* the size of the tail */

  max-width: 300px;
  padding: calc(2*var(--r)/3);
  -webkit-mask:
    radial-gradient(var(--t) at var(--_d) 0, #0000 98%, #000 102%) var(--_d) 100%/calc(100% - var(--r)) var(--t) no-repeat,
    conic-gradient(at var(--r) var(--r), #000 75%, #0000 0) calc(var(--r)/-2) calc(var(--r)/-2) padding-box,
    radial-gradient(50% 50%, #000 98%, #0000 101%) 0 0/var(--r) var(--r) space padding-box;
  background: linear-gradient(135deg, #64E3A1, #2E2E38) border-box;
  color: #fff;
}

.left {
  --_d: 0%;
  border-left: var(--t) solid #0000;
  margin-right: var(--t);
  place-self: start;
}